@{
    ViewData["Title"] = "Access Denied";
}
<!--(W3Schools 2026)(Bootstrap Team 2026)-->
<div class="text-center mt-5">
    <h1 class="text-danger">Access Denied</h1>
    <p class="lead">You do not have permission to access this resource.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>
</div>

<!--(Bootstrap Team ,2025) Examples [online] Available at: https://getbootstrap.com/docs/5.3/examples/-->
<!--(W3Schools ,2026) CSS Examples [online] Available at: https://www.w3schools.com/css/css_examples.asp -->
<!--(W3Schools ,2026) CSS HTML Tutorial[online] Available at: https://www.w3schools.com/html/default.asp-->